# This file contains common pin mappings for the BIGTREETECH EBB36
# GEN2 board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB12/PB13)" .
# The "EBB36 GEN2" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu EBB]
# serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
canbus_uuid: 9d9ab1d8cc61

[temperature_sensor EBB36]
sensor_type: Generic 3950
sensor_pin: EBB:PA0
pullup_resistor: 2200

[lis2dw]
cs_pin: EBB:PB1
spi_bus:spi2_PB2_PB11_PB10
axes_map: x,y,z

[extruder]
step_pin: EBB:PB14
dir_pin: EBB:PA8
enable_pin: !EBB:PB6
microsteps: 16
rotation_distance: 4.637
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 500
max_extrude_only_velocity: 120
pressure_advance: 0.025 # To be calibrated
pressure_advance_smooth_time: 0.03 # To be calibrated
heater_pin: EBB:PB4

sensor_type: PT1000
pullup_resistor: 2200
sensor_pin: EBB:PA3

# control: pid
# pid_Kp: 21.527
# pid_Ki: 1.063
# pid_Kd: 108.982

min_temp: 0
max_temp: 290
max_extrude_cross_section: 5

[tmc2209 extruder]
uart_pin: EBB:PB3
interpolate: false
run_current: 0.650
stealthchop_threshold: 999999
hold_current: 0.2
sense_resistor: 0.110
driver_TBL: 0
driver_HEND: 6
driver_HSTRT: 7
driver_TOFF: 4

[probe]
pin: ^EBB: PB5

x_offset: 0
y_offset: 0

speed: 7
samples: 3
samples_result: median
sample_retract_dist: 1.0
samples_tolerance: 0.006
samples_tolerance_retries: 3

activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}


[multi_pin part_cooling]
pins: EBB:PD3, EBB:PA5

[fan]
pin: multi_pin:part_cooling


[heater_fan hotend_fan]
pin: EBB:PD2
heater: extruder
heater_temp: 50.0

#[heater_fan 3w_fan2]
#pin: EBB:PD2
#tachometer_pin: EBB:PA4

[neopixel toolhead_leds]
pin: EBB: PC7
chain_count: 10
color_order: GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRBW,  GRBW
initial_RED: 0
initial_GREEN: 0
initial_BLUE: 0
initial_WHITE: 1.0