[led_effect critical_error]
leds:
    neopixel:toolhead_leds (1-8)
layers:
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)
    static         1  0     top        (1.0,  0.0, 0.0)
autostart:                             false
frame_rate:                            24
run_on_error:                          true

[led_effect loading]
leds:
    neopixel:toolhead_leds (1-8)
autostart:                          false
frame_rate:                         48
layers:
    homing 1 0 add (1, 1, 1)
    temperature 20 120 multiply (0.1, 0.1, 0.1), (1, 1, 1)
    chase  0.25  0.5 add (0, 0, 0), (1, 1, 1), (1, 1, 1)
heater: heater_bed
endstops: x, y, z

[led_effect on]
leds:
    neopixel:toolhead_leds
autostart:                          false
frame_rate:                         48
layers:
    static 0 0 add (0,0,0,1)
heater: heater_bed


[led_effect rainbow]
leds:
    neopixel:toolhead_leds (1-8)
    neopixel:toolhead_leds (9-10)
autostart:                          false
frame_rate:                         48
layers:
    gradient  1  1 add (1.0, 0.0, 0.0),(0.0, 1.0, 0.0),(0.0, 0.0, 1.0)

[led_effect rainbow_display]
leds:
    neopixel:btt_mini12864
autostart:                          false
frame_rate:                         24
layers:
    gradient  1  1 add (1.0, 0.0, 0.0),(0.0, 1.0, 0.0),(0.0, 0.0, 1.0)

# [led_effect twinkle]
# leds:
#     neopixel:caselight
# autostart:                          false
# frame_rate:                         24
# layers:
#     twinkle  5  0.1 add (1.0, 1.0, 1.0)